*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
