@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* TODO: Rename colors */
:root {
  --error-red: rgb(255, 0, 0);
  --attr-color: rgb(116, 48, 241);
  /* Light mode */
  --primary-blue: #0079FF;
  --light-gray: #697C9A;
  --stone-blue: #4B6A9B;
  --dark-gray: #2B3442;
  --gray-white: #F6F8FF;
  --off-white: #FEFEFE;
  /* Dark mode */
  --white: #FFFFFF;
  --off-black: #141D2F;
  --navy-blue: #1E2A47;
}

html {
  font-size: 15px;
}

body {
  color: var(--stone-blue);
  font-family: 'Space Mono', monospace;
  line-height: 1.66rem;
}

h1 {
  font-size: 26px;
  line-height: 2.5rem;
}

h2 {
  font-size: 22px;
  line-height: 2.2rem;
}

h3 {
  font-size: clamp(16px, 16px + .5vw, 20px);
  line-height: 1.6rem;
}

h4 {
  font-size: clamp(13px, 13px + .5vw, 15px);
  font-weight: 400;
  line-height: 1.33rem;
}

/* ! REMOVE BORDERS */
.user-info-wrap,
.user-bio,
.user-data,
.user-details {
  border: 1px solid fuchsia;
}

/* Containers */
.page-wrap {
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
  padding: 2rem 0;
}

.container {
  align-items: center;
  width: clamp(90vw, 365px, 95vw);
  gap: .5em;
}

.header,
.search,
.main {
  width: 90%;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

/* Scheme Toggle */
.color-toggle {
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.color-toggle figure {
  align-items: center;
  gap: .7rem;
  margin: 0;
}

.color-toggle figcaption,
.color-toggle img {
  display: inline-block;
}

/* Search Bar */
.search {
  width: 100%;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-bar {
  font-family: inherit;
  font-size: 13.5px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 1.5rem 3.33rem 1rem 2.33rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.search-icon {
  width: 1em;
  position: absolute;
  left: 10px;
  top: 58%;
  transform: translateY(-50%);
  z-index: 2;
}

.search-btn {
  position: absolute;
  width: clamp(60px, 25%, 110px);
  height: 75%;
  font-size: clamp(12px, 12px + .5vw, 16px);
  background-color: var(--primary-blue);
  color: var(--white);
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 10px;
}

/* Profile */
.desk-container {
  grid-template-columns: 1fr;
  margin-top: 1em;
}

.profile-card {
  gap: .5em;
  margin-top: 1em;
}

.user-info-wrap {
  align-items: center;
  gap: 1em;
}

.profile-img-wrap-desktop {
  display: none;
}

.profile-img {
  width: clamp(120px, 0.5vw, 130px);
}

.user-info {
  width: 100%;
  gap: 5px;
}

.user-info__username {
  font-size: 13px;
  color: var(--primary-blue);
}

.user-bio {
  margin: 1rem 0;
  min-height: 10vh;
}

.user-data {
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: 1rem;
}

.user-data__section {
  padding: .7rem;
}

.user-data__title {
  font-size: clamp(11px, 11px + .3vw, 13px);
}

.user-data__desc {
  font-size: clamp(16px, 16px + .2vw, 18px);
}

.user-details {
  max-height: fit-content;
  gap: 1rem;
  margin: 1rem 0;
}

.user-details ul {
  margin: 0;
  padding: 0;
}

.details figure {
  font-size: clamp(13px, 13px + .1vw, 15px);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: .33rem 0;
}

/* Footer */
.footer {
  text-align: center;
}

.footer a {
  color: var(--attr-color);
}

.footer a:hover {
  color: var(--attr-color);
  font-weight: bold;
}
