/* Tag Selectors */
/* Utility Classes */
/* Containers */
/* Scheme Toggle */
/* Search Bar */
/* Profile */
/* Profile - User Info */
/* Profile - User Data */
/* Profile - User Details */
/* Footer */

/* Tag Selectors */
html {
  font-size: 15px;
}

body {
  background-color: var(--main-bg);
  color: var(--primary-text);
  font-family: 'Space Mono', monospace;
  line-height: 1.66rem;
}

h1 {
  color: var(--accent-text);
  font-size: 26px;
  line-height: 2.5rem;
}

h2 {
  font-size: 22px;
  line-height: 2.2rem;
}

h3 {
  font-size: clamp(16.5px, 16px + .5vw, 24px);
  line-height: 1.6rem;
}

h4 {
  font-size: clamp(13px, 13px + .5vw, 15px);
  font-weight: 400;
  line-height: 1.33rem;
}

/* Utility Classes */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.small-text {
  font-size: clamp(13px, 12px + .25vw, 15px);
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Containers */
.page-wrap {
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
  padding: 2rem 0;
}

.container {
  align-items: center;
  width: calc(90% + 1vw);
  gap: 1em;
}

.container :is(.header, .main) {
  width: 95%;
}

.header {
  justify-content: space-between;
  margin-block-start: 1em;
}

/* Scheme Toggle */
.toggle-btn {
  display: inline-flex;
  align-items: flex-start;
  padding: 1rem 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.toggle-btn-icon {
  fill: currentColor;
  margin-inline-start: .5rem;
}

#dark-btn:hover {
  color: var(--accent-text);
  cursor: pointer;
}

#light-btn:hover {
  color: var(--btn-active);
  cursor: pointer;
}

/* Search Bar */
.search {
  width: 100%;
  margin-block-end: 20px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-bar {
  background-color: var(--container-bg);
  font-family: inherit;
  font-size: 13.5px;
  color: inherit;
  caret-color: var(--action-text);
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 1rem 3.33rem 1rem 2.33rem;
  border: none;
  border-radius: 1rem;
}

.search-bar::placeholder {
  color: var(--primary-text);
}

.search-icon {
  width: 1em;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.search-btn {
  position: absolute;
  width: clamp(60px, 25%, 110px);
  height: 75%;
  font-size: clamp(12px, 12px + .5vw, 16px);
  background-color: var(--action-text);
  color: var(--btn-text);
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: var(--btn-active);
}

/* Profile */
.desk-container {
  border-radius: 1rem;
  grid-template-columns: 1fr;
  margin-block-start: 1em;
}

.profile-card {
  background-color: var(--container-bg);
  gap: .5em;
  padding: 1.5rem;
  padding-block-end: 0;
  margin-block-start: 1rem;
  border-radius: 1rem;
}

.user-info-wrap {
  gap: 1em;
}

.profile-img {
  width: calc(90px + 1vw);
}

.profile-img-wrap-desktop {
  display: none;
}

/* Profile - User Info */
.user-info {
  width: 100%;
  justify-content: space-evenly;
  gap: 5px;
}

.user-info__name {
  color: var(--accent-text);
}

.user-info__username {
  font-size: 13px;
  color: var(--action-text);
}

.user-bio {
  margin: 1rem 0;
  min-height: 5vh;
}

/* Profile - User Data */
.user-data {
  background-color: var(--main-bg);
  justify-content: space-evenly;
  text-align: center;
  gap: 1rem;
  border-radius: 1rem;
}

.user-data__section {
  padding: .7rem;
}

.user-data__title {
  font-size: clamp(11px, 11px + .1vw, 13px);
}

.user-data__desc {
  color: var(--accent-text);
  font-size: clamp(16px, 16px + .2vw, 18px);
}

/* Profile - User Details */
.user-details {
  max-height: fit-content;
  gap: 1rem;
  margin: 1rem 0;
}

.user-details ul {
  margin: 0;
  padding: 0;
}

.user-details__website:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details figure {
  font-size: clamp(13px, 13px + .1vw, 15px);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: .33rem 0;
}

/* Footer */
.footer {
  font-size: 12px;
  text-align: center;
}

.footer a {
  color: var(--action-text);
}

.footer a:hover {
  color: var(--action-text);
  font-weight: bold;
}
