@media screen and (min-width: 768px) {
  .page-wrap {
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 75%;

    margin: 3em 2.5em;
  }

  .profile-img {
    width: 100px;
  }

  .user-details ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .user-details__location {
    grid-row: 1 / 2;
  }

  .user-details__website {
    grid-row: 2 / 3;
  }

  .user-details__twitter {
    grid-row: 1 / 2;
  }

  .user-details__company {
    grid-row: 2 / 3;
  }

  .search-bar {
    font-size: 18px;
  }

  .search-btn {
    font-size: 16px;
  }

  .user-info__username,
  .user-info__joined {
    font-size: 16px;
  }

  .user-bio {
    font-size: 15px;
  }

  .user-data__title {
    font-size: 13px;
  }

  .user-data__desc {
    font-size: 18px;
  }

  .details figure {
    gap: .5em;
    font-size: 13px;
  }

}

@media screen and (min-width: 950px) {
  .container {
    width: 65%;
  }
}


@media screen and (min-width: 1024px) {
  .page-wrap {
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 70%;
  }

  .desk-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .search {
    width: 100%;
  }

  .profile-img-wrap-desktop {
    display: block;
  }

  .profile-card {
    margin-inline-start: 1em;
  }

  .profile-img-wrap {
    display: none;
  }

  .profile-img {
    width: 115px;
  }

  .user-info {
    display: grid;
    grid-template: auto auto / .5fr 1fr;
    align-items: center;
    column-gap: 5em;
  }

  .user-info__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .user-info__username {
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }

  .user-info__joined {
    font-size: 15px;
    order: 2;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

  }

}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .profile-img {
    width: 120px;
  }
}

@media screen and (min-width: 1300px) {
  .profile-img {
    width: 150px;
  }
}
